.container {
  margin: 0 auto;
  max-width: 960px;
}
#logoImage {
  height: 30px;
}
.logoTitle {
  font-size: 40px;
}

.navList {
  text-align: right;
}

ul li {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  color: gray;
}

h1 {
  text-align: center;
  width: 400px;
  margin: auto;
  padding-top: 75px;
  padding-bottom: 25px;
}

.date {
  text-align: center;
  color: #D3D3D3;
}

button {
  display: block;
  color: white;
  background-color: #4D99C1;
  text-align: center;
  margin: 0 auto;
}

.stats {
  width: 100%;
  position: relative;
}
#essayTop{
  padding-top: 25px;
}
.essay {
  margin-left: 110px;
  margin-right: 110px;
}

.bottomBar {
  text-align: center;
  color: gray;
  padding-bottom: 0;
  margin-bottom: 0;
}

.bottomNav {
  margin-left: 58px;
  margin-top: -15px;

}
