.navbar {
    position: relative;
    z-index: 1000;
    min-height: 50px;
    margin-bottom: 24px;
    border: 1px solid transparent;
}
    
.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0.0);
}
    
.navbar-fixed-top {
    z-index: 1030;
    top: 0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
}

.brand {
    display: inline-block;
    float: inherit;
    font-size: 1.75em;
    font-weight: 400;
    width: 400px;
}

.navigation {
    float: right;
    width: 560;
}

nav {
    font-size: 1.1em;
    font-weight: 100;
    word-spacing: 1.15em;
}

a {
    text-decoration: none;
    color: grey;
}

html {
    font-family: Helvetica, serif;
}

img {
    float: left;
}

.blog_title {
   display: inline-block;
}

.title {
    text-align: center;
    font-size: 2em;
}

.sub_title {
    text-align: center;
    font-size: 1.75em;
    padding-bottom: 20px;
}

.date {
    text-align: center;
    padding: 5px;
    color: darkgrey;
    text-transform: uppercase;
    font-size: .80em;
}

.follow {
    text-align: center;
}

.button {
    border: none;
    color: white;
    background-color: deepskyblue;
    padding: 5px 20px;
}

.blog-text {
    width: 760;
    margin: 0px 100px 0px 100px;
    font-family: times new roman;
}

.footer {
    text-align: center
    margin-top: 200px;
    display: block;
}