
.logo img {
  float: left;
  border: black solid 1px;
}


.title h1 {
  float: left;
  text-align: left;
  list-style: none;
  margin-left: 20px;
  border: black solid 1px;
}

.container {
  display: inline-block;
  width: 700px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  height: 100%;
  margin: auto;
}

.menuButtons li {
  float: left;
  list-style: none;
  margin-left: 20px;
  border: blue solid 1px;
}

.button {
  color: pink;
  border: pink solid 1px;
}

p {
  border: green solid 1px;
