body{

  background:  url("atl.png") no-repeat center top;
  background-color: pink;
  margin: 0;
  padding: 0;
  background-size: 100% 700px;
}

.topList {
  text-align: right;
  width: 100vh;
}

#faq {
  margin: auto 30px auto 30px;
}

.topNav {
  display: inline-block;
  color: white;
  margin-top: 20px;
}

.logoDiv {
  text-align: center;
  margin: 150px;
  color: white;
  font-size: 80px;
}

.logoImg {
  height:95px;
}

.tag {
  font-size: 18px;
}

.arrowImg {
  margin-top: 175px;
}
