.container {
	max-width: 960px;
	margin: 0 auto;
}

.nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}

.logo {
	float: left;
	font-size: 30px;
	width: 400px;
}

.logo img {
	width: 100px;
}

.nav {
	float: left;
	text-align: right;
	width: 560px;
}

header {
	max-width: 960px;
	width: 960px;
	position: relative;
}

.title {
	clear: both;
}

button {
	background-color: lightblue;
	border: none;
}

main {
	padding-bottom: 10px;
}

.footer ul li {
	list-style: none;
	display: inline-block;
	margin-right: 20px;
}

.copyright {
	text-align: center;
}